body{
	background-image: none;
}

header{
	font-size: 30pt;
	margin-top: 50px;
}

	
h1{
	font-size: 30pt;
	text-align: center;
	margin-top: -10px;
}


img {
	margin-left:200px;
	margin-top: -150px;
	margin-bottom: 50px;
}


a{
	color: orange
}



