label {
	display: block;
	margin-top: 20px;
	letter-spacing: 2px;
}

.body {
	display: block;
	margin:0 auto;
	width: 576px;
}

form {
	margin: 0 auto;
	width: 459px;
}

input, textarea{
	width: 459px;
	height: 30px;
	background:#efefef;
	border:1px solid #dedede;
	padding: 10px;
	margin-top: 3px;
	font-size: 12pt;
	color: white;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
}

input:focus, textarea:focus {
border:1px solid red;
};

#submit {
	width: 127px;
	height:38px;
	background color:orange;
	border:none;
	margin-top: 20px;
	cursor: pointer;
}

/*#submit:hover{
	opacity: 0.9;
	}