@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy);
@import url(http://fonts.googleapis.com/css?family=Chelsea+Market);
@import url(http://fonts.googleapis.com/css?family=Spinnaker);
@import url(http://fonts.googleapis.com/css?family=Short+Stack);
@import url(http://fonts.googleapis.com/css?family=Keania+One);


body{ 
	background-image: url('../img/sunrise.jpg');
	background-size: cover; 
	background-position:  0 20%;
	background-attachment: fixed;
	font-family: 'Spinnaker', 'sans-serif';
	font-size: 14px;
}

#wrapper {
	position: relative; 
	width: 960px;
	margin: 0 auto;
}

header{
	margin-top: 40px;
	font-size: 48px;
	font-family: 'Luckiest Guy', 'cursive';
	color:orange;
	text-align: center;
}

nav {
	width: 800px;
	margin: 40px auto 20px auto;
}


nav ul {
	font-family: 'Chelsea Market', 'cursive';
	list-style: none;
    padding: 0;
}

nav ul li {
	display: inline;
	position: relative;
}


nav ul a{
	display: inline-block;
	padding:5px;
	text-align: center;
	color:#333;
	background: rgb(255,215,0);
	text-decoration: none;
	width:250px;
    border: 1px solid white;
}

nav ul a:hover{
	background:orange;
}

nav ul ul {
	padding:0;
	list-style: none;
	position: absolute;
	left:-9999px;
}	

nav ul ul li{
	float:left;
	border-top: 0;
}

nav ul ul li a{
	white-space: nowrap;
	display: block;
}

nav ul li:hover ul{
	left: 0px;
}

nav#b ul{
	list-style: none;
	font-size: 18px;
	margin-top: 100px;
	margin-left: -10px;
	text-align: left;
	position: fixed;

}

nav#b ul a{
	display: block;
	background: transparent;
	color: orange;
	padding: 5px;
	text-align: left;
	text-decoration: none;
	width: 200px;
	border: 0;
}

nav#b ul a:hover{
	color:rgb(0,191,255);
	text-decoration: none;
	}

#contact{
	background-color: rgba(255,215,0,0.8);
	text-align: center;
	width:820px; 
	margin:10px auto 0 auto;
	color:black;
	padding-top:1px auto 3px auto;
}	
	
.container{
	background-color: rgba(255,215,0,0.9);
	width:800px;
	margin:0 auto;
	border-style:dashed;
	border-color: white;
	color:black; 
	margin-top: 40px;
	margin-bottom: 40px;
	padding:10px;
}

h1{
	font-size:20px;
	font-family: 'Short Stack', 'cursive';

}

img {
  display: block;
  margin: 0 auto;
}

h2{
	font-family: 'Keania One', 'cursive';
}

a{
	text-decoration: underline;
	color: black;
}

article {
	background-color: none;
	position: relative;
	width: 800px;
	margin: 0 auto; 
	font-family: 'Spinnaker', 'sans-serif';
	font-size: 14px;
	border:none;
	margin-top: -30px;
} 

article h2{
	color:orange;
}

#download {
	margin-top: -150px;
}