body{ 
	background-image: url('../img/skycopy.jpg');
}


header{
	margin-left: 220px;
	text-align: left;
}

nav#b ul{
	list-style: none;
	font-size: 18pt;
	margin-top: -20px;
	margin-left: -5px;
	text-align: left;
	position: fixed;

}

nav#b ul a{
	display: block;
	color:orange;
	padding: 5px;
	text-align: left;
	text-decoration: none;
	width: 200px;
}

nav#b ul a:hover{
	color:rgb(255,215,0);
	text-decoration: none;
	}

.container{
width: 550px;
margin-left: 450px;
margin-top: -10px;
margin-bottom: 70px;
border:none;
}





