*{
	color:#000;
	background: transparent;
	font-size: 12pt;
	font-family: serif;
}

@page{
	margin: 0.5in;
}

#a,#b{
	display: none;
}

header{
  text-align: center;
  font-size: 20pt;
  position: absolute;
}

#container {
  margin: 0;
  width: 100%;
}

