


@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy);
@import url(http://fonts.googleapis.com/css?family=Chelsea+Market);
@import url(http://fonts.googleapis.com/css?family=Spinnaker);
@import url(http://fonts.googleapis.com/css?family=Short+Stack);



body{ 
	background-image: url('../img/school.jpg');
	background-size: cover; 
	background-position:  0 20%;
	background-attachment: fixed;
	margin: auto;
}

header{
	margin-top: 30px;
	margin-left: 380px;
	font-size: 48pt;
	font-family: 'Luckiest Guy', 'cursive';
	color:orange;

}


nav ul{
	width: 1000px;
	height: 30px;
	margin-left: 180px;
	font-family: 'Chelsea Market', 'cursive';
	list-style: none;
}


nav ul li {
	float:left;
	position: relative;
	border-style: solid;
	border-color:white; 
}

nav ul a{
	display: inline-block;
	padding:5px;
	text-align: center;
	color:#333;
	background: gold;
	text-decoration: none;
	width: 250px;
}

nav ul a:hover{
	color:orange;
/*	background: #d00;*/
}

nav ul ul {
	padding:0;
	list-style: none;
	position: absolute;
	left:-9999999px;
	}	

nav ul ul li{
	padding-top:1px;
	float:left;
	}	

nav ul ul li a{
	white-space: nowrap;
	width:300px;
	display: block;
}

nav ul li:hover ul{
	margin-left: 180px;
	left:0;
	}

img {
	margin-left:320px;
	margin-top: 30px;
}
article {
	background-color: rgba(255,255,255,0.6);
	color:black; 
	position: relative;
	width: 800px;
	margin: 0 auto; 
	font-family: 'Spinnaker', 'sans-serif';
	font-size: 14px;
	border-style:dashed; 
	border-color: white;
	margin-top: 50px;

} 

a{
	text-decoration: bold;
	color: black;

}





/*	color: white;
	background-color: g
	background-size: cover; 
	background-position:  0 20%;
	background-attachment: fixed;
	margin: auto;
}

body{
	width: 960px;
	margin: 0 auto; 
}


img{
	margin-left: 330px;
	margin-top: 30px;
}

h1{
	color: red; 
	font-size:30pt;
}

nav ul{
	margin-left: 230px;
}

nav ul{
	list-style: none;
}

nav ul li {
	float:left;
	position: relative;
}

nav ul a{
	display: inline-block;
	padding:5px;
	color:#333;
	background: #666;
	text-decoration: none;
	width: 100px;
}

nav ul a:hover{
	color:#fff;
	background: #d00;
	text-decoration: bold;
}

nav ul ul li a{
	white-space: nowrap;
	width:200px;
	display: block;
}
nav ul ul li{
	padding-top:1px;
	float:left;
	}	

nav ul ul {
	padding:0;
	list-style: none;
	position: absolute;
	left:-9999px;
	}	

nav ul li:hover ul{
	left:0;
}