@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy);
@import url(http://fonts.googleapis.com/css?family=Chelsea+Market);
@import url(http://fonts.googleapis.com/css?family=Spinnaker);
@import url(http://fonts.googleapis.com/css?family=Short+Stack);



header{
	margin-top: 100px;
	text-align: center;
	font-size: 30pt;
	font-family: 'Luckiest Guy', 'cursive';
	color:orange;

}


nav ul{
	width: 1000px;
	height: 30px;
	margin-left: 180px;
	font-family: 'Chelsea Market', 'cursive';
	list-style: none;
}


nav ul li {
	float:left;
	position: relative;
	border-style: solid;
	border-color:white; 
}

nav ul a{
	display: inline-block;
	padding:5px;
	text-align: center;
	color:#333;
	background: gold;
	text-decoration: none;
	width: 250px;
}

nav ul a:hover{
	color:orange;
/*	background: #d00;*/
}

nav ul ul {
	padding:0;
	list-style: none;
	position: absolute;
	left:-9999999px;
	}	

nav ul ul li{
	padding-top:1px;
	float:left;
	}	

nav ul ul li a{
	white-space: nowrap;
	width:300px;
	display: block;
}

nav ul li:hover ul{
	margin-left: 180px;
	left:0;
	}
	
h1{
	font-family: 'Short Stack', 'cursive';
	font-size: 30pt;
	color:orange;
	text-align: center;
	margin-top: -10px;
}


img {
	margin-left:300px;
	margin-top: -320px;
}
article {
	background-color: rgba(255,255,255,0.6);
	color:black; 
	position: relative;
	width: 800px;
	margin: 0 auto; 
	font-family: 'Spinnaker', 'sans-serif';
	font-size: 14px;
	border-style:dashed; 
	border-color: white;
	margin-top: 50px;

} 
article h2{
	color:orange;
}

a{
	text-decoration: none;
	color: orange;

}

#download {
	margin-top: -70px;
}


